<%= form_for(@crm) do |f| %>
  <% if @crm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crm.errors.count, "error") %> prohibited this crm from being saved:</h2>

      <ul>
      <% @crm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
